.box-message {
  margin-top: 20px;
  color: #434386;
  font-weight: bolder;
}

.contato-form input {
  display: inline-block;
  margin: 10px 0;
  height: 40px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.contato-form input[type="submit"] {
  color: red;
  background-color: white;
  color: #000;
  font-weight: 700;
  border: 1px solid green;
}

.contato-form input[type="submit"]:hover {
  background-color: green;
  border-radius: 5px;
  border: 1px solid rgba(0, 255, 0, 0.3);
  color: white;
}

.contato-form label {
  margin-right: 5px;
  font-weight: 700;
  color: #949465;
  width: 150px;
}

.error-message {
  color: #f00;
}
.success-message {
  color: rgb(0, 180, 0);
}
